.chat-main
  .chat-main__message-top
    .chat-main__message-top__left-box
      .chat-main__message-top__left-box__title
        = @group.name
      .chat-main__message-top__left-box__member
        .chat-main__message-top__left-box__member__list
          Member :
        .chat-main__message-top__left-box__member__name
          - @group.users.each do |user|
            = user.name
    .chat-main__message-top__right-box
      = link_to "Edit", edit_group_path(@group), class: "vvvvv"
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'btn'











